body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    display: inline-block;
}
nav{
    width: 100px;
    background: rgb(109, 109, 141);
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
  padding: 20px;
}
ul li:hover{
    background: rgb(85, 94, 85);
}
ul li a{
    color:rgb(75, 77, 75);
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: black;
    text-align: left;
    box-sizing: border-box;
    color:grey;
    font-size: 20px;
    display: none;
}
@media(max-width:768px){
    .toggle{
        display: block;
        
    }
    ul{
        width: 100%;
    }
    ul li{
        display: block;
        text-align: center;
    }
}

