body {
    background-color: dimgray;
}

#container {
    align-content: center;
    max-width: 1000px;
    margin: auto;
    
    background-repeat:repeat-y;
    
}

.uk-card {
    margin: 50px 100px;
}

.loginBox {
    margin:0px;
    
}
