
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  width: 100vw;
}
nav{
  width: 100vw;
  background-color: #D6EFFF;
}
ul{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  
 
  display: flex;
}
li{
  list-style-type: none;  
  
  
  margin: 0 2vw;
}
li{
  list-style-type: none;  
  margin: 0 2vw;
  
  font-size: 3vh;
}
a{
  text-decoration: none;
  
 
  color: black;
 
  padding: 2vw;
  
  font-family: monospace;
}
a:hover{
  background-color: #C6E9FF;
}
@media only screen and (max-width: 500px) {
 
  ul{
    flex-direction: column;
  }
  
 
  li{
    margin: 0;
  }
 a{ 
    display: block;
  }
}